[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = {git = "https://github.com/akiomik/pytest",ref = "fix-disable_test_id_escaping-option"}

[requires]
python_version = "3.7"
